<div class="container">

  <div class="logo-container">
      <div class="big-logo-container">
        <img class="big-logo" src="assets/acces-cible-logo.png"/>
      </div>
      <div class="text-logo-container">
        <img class="text-logo" src="assets/acces-cible-texte.png" />
      </div>
    </div>

  <div class="ui-g input-container">

    <!--<app-auto-complete-adress class="autocomplete-input"></app-auto-complete-adress> -->

    <input type="text" pInputText [(ngModel)]="adressString" />
  </div>
  <div class="ui-g button-container">
    <button type="button" (click)="onClickSearch()" pButton label="Rechercher"></button>
  </div>
</div>
