<div class="container">

  <div class="logo-container">
      <div class="big-logo-container">
        <img class="big-logo" src="assets/acces-cible-logo.png"/>
      </div>
      <div class="text-logo-container">
        <img class="text-logo" src="assets/acces-cible-texte.png" />
      </div>
    </div>

  <div class="ui-g input-container">
    <input type="text" pInputText [(ngModel)]="adressString" placeholder="Tapez votre adresse ici..."/>
    <button type="button" (click)="onClickSearch()" pButton label="Rechercher" icon="fa-search" iconPos="left"></button>
  </div>

  <div class="tagline">
    <p>L'application qui évalue l'accessibilité de votre emplacement.</p>
  </div>
  
</div>
