i {
    font-size: 34px!important;
    right: 18px;
    top: 18px;
    position: fixed;
}

i:hover {
  color:rgb(107,148,32);
  font-size: 40px!important;
  right: 15px;
  top: 15px;
}

>>> h1,h2,h3,p,span {
  color:rgb(66,66,66);
}

>>> .fa {
  color:rgb(66,66,66);
}

