<p-accordion class="map-settings-container">
    <p-accordionTab header="Paramètres de la carte">
        <div class="toggle-polygons">
          <p-inputSwitch (onChange)="onToggleBus($event)" [(ngModel)]="mapSettingsToggle.toggleBus"></p-inputSwitch> Bus
          <p-inputSwitch (onChange)="onToggleWalk($event)" [(ngModel)]="mapSettingsToggle.toggleWalk"></p-inputSwitch> Marche
          <p-inputSwitch (onChange)="onToggleMetro($event)" [(ngModel)]="mapSettingsToggle.toggleMetro"></p-inputSwitch> Métro
          <p-inputSwitch (onChange)="onToggleBike($event)" [(ngModel)]="mapSettingsToggle.toggleBike"></p-inputSwitch> Vélo
        </div>
    </p-accordionTab>
  </p-accordion>