<div class="container">

  <div class="ui-g-12 fleche-retour">
    <i class="fa fa-arrow-left" aria-hidden="true" (click)="onGoBack()"></i>
  </div>

  <div class="ui-g-12 adresse">
    <h3>{{this.adressService.address.name}}</h3>
  </div>

  <div class="ui-g-12 resultats">
    <app-display-result #displayResult [cote]="cote"></app-display-result>
  </div>

  <div class="ui-g-12 carte">

    <app-map-settings class="map-settings" [mapSettingsToggle]="mapSettingsToggle"></app-map-settings>
    
    <app-google-maps class="gmap" [address]="address" [metroPaths]="metroPaths" [busPaths]="metroPaths" [walkPaths]="walkPaths"
      [bikePaths]="bikePaths" [bikeStartPoints]="bikeStartPoints" [busLines]="busLines" [metroLines]="metroLines" [mapSettingsToggle]="mapSettingsToggle">
    </app-google-maps>


  </div>

</div>