<div *ngIf="address">
  {{address.latitude}} / {{address.longitude}}
  <sebm-google-map [latitude]="address.latitude" [longitude]="address.longitude" [zoom]="12">

    <sebm-google-map-marker [latitude]="address.latitude" [longitude]="address.longitude">
      <sebm-google-map-info-window [disableAutoPan]="true">
          {{ address.name }}
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-map-polygon [paths]="busPaths" fillColor="#ff5500" strokeColor="#aa4655" [visible]="mapSettingsToggle.toggleBus"></sebm-map-polygon>
    <sebm-map-polygon [paths]="walkPaths" fillColor="#82b1ff" strokeColor="#2659ad" [visible]="mapSettingsToggle.toggleWalk"></sebm-map-polygon>
    <sebm-map-polygon [paths]="metroPaths" fillColor="#fcd28d" strokeColor="#f4b042" [visible]="mapSettingsToggle.toggleMetro"></sebm-map-polygon>
    <!--<sebm-map-polygon [paths]="trainPaths" fillColor="#0f750f" strokeColor="#77d177" [visible]="toggleTrain"></sebm-map-polygon>-->
    <sebm-map-polygon [paths]="bikePaths" fillColor="#c483c2" strokeColor="#751d73" [visible]="mapSettingsToggle.toggleBike"></sebm-map-polygon>

    <sebm-google-map-marker *ngFor="let bikeStart of bikeStartPoints" [latitude]="bikeStart.lat" [longitude]="bikeStart.lng"
          [visible]="mapSettingsToggle.toggleBike" iconUrl="assets/velo-icon-small.png">
        </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let busLine of busLines" [latitude]="busLine.stop.lat" [longitude]="busLine.stop.lng"
          [visible]="mapSettingsToggle.toggleBus" iconUrl="assets/bus.png" title="busLine.nom">
          <sebm-google-map-info-window [disableAutoPan]="true">
            Nom : {{ busLine.nom }}
            <br>
            Temps : {{busLine.distance}} minutes
          </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let metroLine of metroLines" [latitude]="metroLine.stop.lat" [longitude]="metroLine.stop.lng"
          [visible]="mapSettingsToggle.toggleMetro" iconUrl="assets/metro.png" title="metroLine.nom">
          <sebm-google-map-info-window [disableAutoPan]="true">
            Nom : {{ metroLine.nom }}
            <br>
            Temps : {{metroLine.distance}} minutes
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

      <!--<sebm-google-map-marker *ngFor="let trainLine of trainLines" [latitude]="trainLine.stop.lat" [longitude]="trainLine.stop.lng"
            [visible]="toggleTrain" iconUrl="assets/train.png" title="trainLine.nom">
            <sebm-google-map-info-window [disableAutoPan]="true">
            {{ trainLine.nom }}
          </sebm-google-map-info-window>
      </sebm-google-map-marker>-->

  </sebm-google-map>
</div>

<div *ngIf="!address">
  <p>L'addresse saisie est présentement introuvable :(</p>
</div>
